@{
    ViewBag.Title = "新增每周食谱";
    Layout = "~/Views/Shared/_Recipe.cshtml";

    string recipeType = "早餐|#午餐|#午点";
    string[] recTypes = { "早餐", "午餐", "午点" }; 
    int len = recTypes.Length;
    string[] weeks = { "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日" };
}
<form id="addForm" name="addForm">
    @Html.Hidden("kid",Request["kid"])
    @Html.Hidden("categoryid",ViewData["categoryid"])
    @Html.Hidden("recipeType",recipeType)

    <div class="mzsp_title"><input id="c00" name="c00" type="text" placeholder="请在这里填写食谱标题"></div>
    <div class="mzsp">
    <dl>
        @for (int row = 1; row <= 7; row++)
        {
            <dd>
            <p class="title @Html.Raw("week_a"+row)"><span class="week">@weeks[row-1]</span><span class="time"></span></p>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mzsp_table">
               @for (int col = 1; col <= len; col++)
              {
              <tr>
                <td align="center" class="@Html.Raw("week_b"+row)"> 
                    @recTypes[col-1]
                </td>
                <td><textarea id="@Html.Raw(string.Format("c{0}{1}",row,col))" name="@Html.Raw(string.Format("c{0}{1}",row,col))" class="recipeContent"></textarea></td>
              </tr>
              }
            </table>
            </dd>
        }

        @*<div class="add_save"><a href="javascript:RECIPE.save(0);">保存</a></div>*@
    </dl>
    </div>
</form>
<script src="https://cdn.rawgit.com/florian/cookie.js/master/cookie.min.js"></script>
<script src="~/Scripts/js/ovgap.js"></script>
<script src="~/Scripts/browser.js?ver=@(DateTime.Now.Ticks)"></script>
<script>
    setTimeout('onDynamicTab({ type: 1, content: "发布", click: "RECIPE.save(0);"})', 50);
</script>